body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(229, 248, 243);
}

.button {
    min-width: 40px;
    min-height: 40px;
    background-color: blanchedalmond;
    margin: 3px;
    padding: 3px;
    float: left;
    border-radius: 10px;    
    border: 1px solid rgb(252, 205, 144);
}

.Monitor {
    height: 120px;
    width: 690px;
    border: 2px solid rgb(252, 205, 144);
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px; 
    background-color: rgb(243, 250, 248);
    transition: .2s;
    text-align: start;
}

.Monitor input[type=text] {
    height: 120px;
    width: 900px;
    background: #e2ffef;
    overflow: auto;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(252, 205, 144);
    color: #2f3542;
    font-size: 20px;
}

#keyboard {
    display: block;
    padding: 5px;
    height: 350px;
    width: 710px;   
}

.button.active {
    background-color: rgb(253, 208, 153);   
}

.button.remove {
    animation: button_animation 0.5s forwards;
}

@keyframes button_animation {
    0% {
        background-color: rgb(253, 208, 153); 
    }
    100% {
        background-color: blanchedalmond;
    }
    
}

.Backspace {
    width: 95px;
    content: 'Backspace';
}

.Tab {
    width: 45px;
}

.Del {
    width: 45px;
}

.CapsLock {
    width: 96px;
}

.ShiftLeft {
    width: 96px;
}

.ControlLeft {
    width: 70px;
}

.Space {
    width: 266px;
}

.ControlRight {
    width: 70px;
}

.Enter {
    width: 87px;
}


